@import '../../styles/variables.scss';

.container {
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: $color-e;
    &:hover {
      background-color: $color-d;
    }
  }
}

.title {
  text-align: left;
  margin-bottom: 1rem;

  span {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      height: 0.3rem;
      bottom: -0.4rem;

      margin: 0 auto;
      left: 0;
      right: 0;
      width: 90%;
      background: $color-e;
    }
  }
}

.sliderContainer {
  display: flex;
  padding: 0.5rem;
  overflow-x: auto;
}
