$back-color-primary: #1f1f1f;
$text-color-primary: #f5f5f0;

$back-color-secondary: #f5f5f0;
$text-color-secondary: #1f1f1f;

$color-a: #ffb602;
$color-b: #ffd66e;
$color-c: #bd993e;
$color-d: #1840ad;
$color-e: #3e60bd;

$border-radius-s: 5px;
$border-radius-m: 8px;
$border-radius-b: 16px;
