$back-color-primary: #1f1f1f;
$back-color-secondary: #333;

$text-color-primary: #fff;
$text-color-secondary: #ccc;

$color-a: #ffd66e;
$color-a-light: lighten($color-a, 10%);
$color-a-dark: darken($color-a, 35%);

$color-b: #1840ad;
$color-b-light: lighten($color-b, 10%);
$color-b-dark: darken($color-b, 10%);

$border-radius-s: 5px;
$border-radius-m: 8px;
$border-radius-b: 16px;
