@import '../../styles/variables.scss';

.carrousel {
  position: relative;
  width: 80%;
  height: 270px;

  margin: 0 auto;
  overflow: hidden;

  border-radius: $border-radius-b;

  .carrouselBtn {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);

    width: 30px;
    height: 30px;
    background-color: transparent;
    color: $color-b;

    border: 0;
    border-radius: 50%;
    cursor: pointer;

    &.carrouselBtnLeft {
      left: 0;
      margin-left: 5px;
    }
    &.carrouselBtnRight {
      right: 0;
      margin-right: 5px;
    }
  }

  .trackContainer {
    height: 100%;

    .track {
      list-style: none;
      height: 100%;
    }

    .slide {
      position: absolute;
      width: 100%;

      top: 0;
      bottom: 0;

      opacity: 0;
      transition: opacity 2s ease-out;

      &.currentSlide {
        opacity: 1;
      }
    }
  }

  .nav {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;

    .indicator {
      background-color: $color-c;
      width: 10px;
      height: 8px;
      border: 0;
      border-radius: 3px;
      cursor: pointer;

      & + .indicator {
        margin-left: 2.5px;
      }

      &.currentIndicator {
        background-color: $color-b;
      }

      @media (min-width: 700px) {
        height: 5px;
      }
    }
  }

  @media (min-width: 700px) {
    height: 350px;
  }

  @media (min-width: 1000px) {
    height: 500px;
  }

  @media (min-width: 1600px) {
    height: 650px;
  }

  @media (min-width: 2000px) {
    height: 850px;
  }
}
