@import '../../styles/variables.scss';

.container {
  height: 15rem;
  display: grid;
  grid-template-columns: 10rem calc(100% - 10rem);

  background-color: $back-color-secondary;

  margin: 1.2rem;
  border-radius: $border-radius-m;
  overflow: hidden;
  transition: box-shadow 200ms;

  &:hover {
    box-shadow: 0 0 0 0.3rem $color-b;
  }

  .imageContainer {
    height: 100%;
    width: 10rem;

    .image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .movieInfo {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'title title'
      'description extraInfo';

    .title {
      white-space: nowrap;
      width: 100%;
      overflow: hidden;

      text-overflow: ellipsis;
      grid-area: title;
    }

    .description {
      overflow-y: auto;
      margin: 0.5rem 0;
      padding-right: 0.5rem;
      max-height: 10rem;
      color: $text-color-secondary;
      grid-area: description;
    }

    .extraInfo {
      margin-left: 1rem;
      grid-area: extraInfo;

      .rating span + * {
        width: 2rem;
      }

      .rating span,
      .release {
        display: none;
      }

      @media (min-width: 700px) {
        .rating span,
        .release span,
        .release {
          display: block;
        }

        .release {
          color: $text-color-secondary;
        }

        .release span {
          color: $text-color-primary;
        }

        .rating span + * {
          width: auto;
        }

        div {
          margin: 0.5rem 0;
        }
      }
    }
  }
}
