@import '../../styles/variables.scss';

.container {
  height: 150px;
  display: grid;
  grid-template-columns: 100px calc(100% - 100px);

  background-color: #333;

  margin: 12px;
  border-radius: $border-radius-m;
  overflow: hidden;
  transition: box-shadow 200ms;

  &:hover {
    box-shadow: 0 0 0 3px $color-d;
  }

  .imageContainer {
    height: 100%;
    width: 100px;

    .image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .movieInfo {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      'title title'
      'description extraInfo';

    .title {
      white-space: nowrap;
      width: 100%;
      overflow: hidden;

      text-overflow: ellipsis;
      grid-area: title;
    }

    .description {
      overflow-y: auto;
      margin: 5px 0;
      padding-right: 5px;
      max-height: 100px;
      color: #ccc;
      grid-area: description;
    }

    .extraInfo {
      margin-left: 10px;
      grid-area: extraInfo;

      .rating span + * {
        width: 20px;
      }

      p span,
      .release {
        display: none;
      }

      @media (min-width: 700px) {
        p span,
        .release {
          display: block;
        }

        .release {
          color: #ccc;
        }

        .release span {
          color: white;
        }

        .rating span + * {
          width: auto;
        }

        p {
          margin: 5px 0;
        }
      }
    }
  }
}
