@import '../../styles/variables.scss';

.checkbox {
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
  align-items: center;
  gap: 0.5rem;
  position: relative;

  background-color: $color-b;
  color: $text-color-primary;
  border-radius: $border-radius-s;
  user-select: none;

  padding: 0.5rem;
  transition: background-color 200ms;

  &:hover {
    cursor: pointer;
    background-color: $color-b-dark;
  }

  .checkMark {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: $color-b-light;

    .checkIcon {
      display: none;
      color: $color-b;
    }
  }

  

  input:checked ~ .checkMark {
    background-color: $color-a;

    .checkIcon {
      display: block;
    }
  }
}
