@import '../../styles/variables.scss';

.containerSlider {
  width: 95%;
  margin-top: 36px;

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $color-e;
    &:hover {
      background: $color-d;
    }
  }
}

.carrouselContainer {
  width: 100%;
  height: 350px;

  @media (min-width: 700px) {
    height: 300px;
  }

  @media (min-width: 850px) {
    height: 350px;
  }

  @media (min-width: 1000px) {
    height: 380px;
  }
}
