@import '../../styles/variables.scss';

.slide {
  height: 100%;
  border-radius: $border-radius-m;
  background-color: #aaa;
  position: relative;

  &:hover {
    box-shadow: 0 0 0 0.2rem $color-b;
  }

  & + .slide {
    margin-left: 0.5rem;
  }

  img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: $border-radius-m;
  }

  .dropdown {
    display: none;
    position: absolute;
    top: 0;
    right: 0;

    .dropdownBtn {
      border: 0;
      color: $text-color-primary;
      background-color: $color-b;
      padding: 0.5rem;
      border-radius: $border-radius-s;

      &:hover {
        cursor: pointer;
        background-color: $color-b-dark;
      }
    }
  }

  &:hover .dropdown {
    display: block;
  }
}
